.pageContainer {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.productDetailContainer {
  display: flex;
  justify-content: space-evenly;
  padding: var(--L);
  height: calc(100% - 100px);
  overflow-y: auto;
}

.imageContainer {
  align-self: center;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--L);
}

@media (max-width: 700px) {
  .productDetailContainer {
    flex-direction: column;
  }
}
