.detailsContainer {
  display: flex;
  justify-content: space-between;
}
.itemContainer {
  display: flex;
  flex-direction: column;
  outline: solid 1px var(--grey);
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.itemContainer:hover {
  outline: solid 2px var(--green);
}

.itemBrand {
  font-weight: bold;
}

.itemModel {
  font-style: italic;
}
