.detailsContainer {
  display: flex;
  justify-content: space-between;
}
.itemContainer {
  display: flex;
  flex-direction: column;
  padding: var(--S);
  cursor: pointer;
  border-bottom: solid var(--XS) var(--white);
}

.itemContainer:hover {
  border-bottom: solid var(--XS) var(--grey);
}

.itemBrand {
  font-weight: bold;
}

.itemModel {
  font-style: italic;
}
