.detailsContainer {
  display: flex;
  justify-content: space-between;
}
.itemContainer {
  display: flex;
  flex-direction: column;
  outline: solid var(--XXS) var(--grey);
  border-radius: var(--M);
  padding: var(--S);
  cursor: pointer;
}

.itemContainer:hover {
  outline: solid var(--XS) var(--green);
}

.itemBrand {
  font-weight: bold;
}

.itemModel {
  font-style: italic;
}
