.descriptionContainer {
  display: flex;
  gap: var(--S);
  justify-content: center;
  flex-direction: column;
  background-color: var(--lightGrey);
  border-radius: var(--M);
  padding: var(--S);
  width: 100%;
}
.descriptionLine {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
