.searchContainer {
  display: flex;
  position: relative;
}

.searchInput {
  border-radius: var(--M);
  padding: var(--XS);
  border: solid var(--XXS) var(--grey);
  margin: var(--XS);
  font-size: var(--L);
}
